body {
  --blue: #4a6163;
  --white: #f9faf4;
  --peach: #f9a66c;
  --yellow: #ffc94b;
  --pink: #f17a7e;
  background-color: var(--white);
  background-image: url("https://www.pngmart.com/files/22/Minimalist-Aesthetic-Theme-Transparent-PNG.png");
  background-size: 10cm;
  background-repeat: repeat;
}

.rbc-day-bg
{
  background: rgba(241, 122, 126, 0.95);

}

.rbc-day-slot, .rbc-time-header {
  background-color: rgba(249, 250, 244, 0.7);
}

.rbc-agenda-table {
  background-color: #4a6163;
}

.rbc-time-view, .rbc-time-content, .rbc-time-gutter, .rbc-day-slot, .rbc-label, .rbc-events-container, .rbc-timeslot-group, .rbc-time-header-content{
  border-color: #232f30;
}
.rbc-off-range-bg
{
  background: rgba(249, 250, 244, 0.3);
}

.rbc-button-link
{
 color: black;
}

.rbc-btn-group
{
  background: rgba(249, 250, 244, 0.7);
}

.rbc-toolbar-label
{
  font-family: 'Delicious Handrawn', cursive;
  background-image: linear-gradient(var(--yellow), var(--peach), var(--pink));
  font-size: 3rem;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.rbc-event
{
  background-color: var(--peach);
  border: 1px var(--white) solid;
}

.rbc-header
{
  background-color: #4a6163;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rbc-label {
  justify-content: center;
}

.app {
  display: flex;
}

.sidenav {
  width: 12%;
}

.calendar {
  flex: 1;
  margin-left: 10rem;
}

@media screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }
  
  .sidenav {
    width: 100%;
  }
  
  .calendar {
    margin-top: 20px;
  }
}