@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  --blue: #4a6163;
  --white: #f9faf4;
  --peach: #f9a66c;
  --yellow: #ffc94b;
  --pint: #f17a7e;

  background-color: var(--blue);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(var(--yellow), var(--peach), var(--pink));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.logoContainer {
  background-color: var(--white);
  height: 100vh;
}

.center {
  margin: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  font-family: 'Delicious Handrawn', cursive;
  color: var(--white);
  font-size: 2.3rem;
  text-align: right;
  padding: 5px;

}

/* CSS */
.button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.heart {  
  height: 4cm;
  display: block;
  margin-right: auto;
  width: 50%;
  padding: 0.5rem;
}

.row-1 {
  padding: 10px 0px;

}

hr {
  border-top-color: var(--white);
  margin-bottom: 25px;
  width: 70%;
  height: 3px;
}

hr::before {
  display: block;
  margin-left: -10%;
  margin-top: -1px;
  content: "";
  background: linear-gradient(to left, var(--white), var(--blue));
  width: 10%;
  height: 1px;
}

hr::after {
  display: block;
  margin-left: 100%;
  margin-top: -1px;
  content: "";
  background: linear-gradient(to right, var(--white), var(--blue));
  width: 10%;
  height: 1px;
}